# Gradle
.gradle/
build/
*/build/

# Configuración local
local.properties

# Android Studio
.idea/
*.iml

# Archivos temporales
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db

# APK y bundles generados
*.apk
*.aab

# Capturas
captures/

# External native build
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore

# Archivos de claves
keystore.properties
